
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f7f4f3; 
    color: #333; 
}

header {
    background: #5b2333; 
    color: #f7f4f3; 
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0,s 0, 0.1); 
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #f7f4f3;
    text-decoration: none;
    transition: color 0.3s; 
}

nav ul li a:hover {
    color: #ff0048; 
}

main {
    padding: 20px;
}

section {
    background: #5b2333; 
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
}

footer {
    background: #5b2333; 
    color: #f7f4f3; 
    text-align: center;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #f7f4f3; 
}

p {
    color: #f7f4f3; 
}

.image-gallery {
    display: block; 
    margin: 20px 0; 
}

.image-gallery figure {
    text-align: center;
}

.image-gallery img {
    display: block;
    width: 100%;
    max-width: 250px;
    height: auto; 
    border-radius: 8px;
    box-shadow: 0 2px 50px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s; 
    margin: 0 auto 20px; 
}

.image-gallery img:hover {
    transform: scale(1.05); 
}

.image-gallery p {
    text-align: center; 
    margin: 0; 
    padding: 10px 0; 
}


#life-story {
    color: #f7f4f3;
}